bottom-sheet bottom-sheet-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  transition: background 400ms ease;
  backdrop-filter: blur(5px);
}

bottom-sheet[aria-hidden="true"] bottom-sheet-overlay {
  pointer-events: none;
  background: rgba(0, 0, 0, 0);
  backdrop-filter: none;

}

bottom-sheet-header {
  padding: 0 20px;
  position: relative;
}

bottom-sheet-header::before {
  content: "";
  display: block;
  background: #bbb;
  height: 5px;
  width: 50px;
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

bottom-sheet-panel {
  background: white;
  box-sizing: border-box;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 15vh;
  left: 0;
  overflow: hidden;
  box-shadow: 0 1px 20px -4px rgba(0, 0, 0, 0.3), 0 0 7px 0 rgba(0, 0, 0, 0.1);
  will-change: transform;
  height: 85vh;
  transition: none;
}

bottom-sheet-panel.transitioning {
  transition: transform 300ms ease;
}

bottom-sheet[aria-hidden="true"] bottom-sheet-panel {
  transform: translate3d(0,100%,0);
}

bottom-sheet[aria-hidden="false"] bottom-sheet-panel {
  transform: translate3d(0,0,0);
}



bottom-sheet-content {
  box-sizing: border-box;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 0 20px;
}